ul{
    list-style: none;
    
}

li{
    padding:10px;
  

    
}

a{
    text-decoration:none;
    padding:10px;
    font-size:xx-large;
    &:hover{
        background-color:pink;
        transition:1s;
      }
    
   
}

button{
    background-color:blue;
}

#detail{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:x-large;
}